// field-row
// ===

// Dependencies
// ---

@import 'stencil-variables/variables';
@import 'level/level';


// Field Row
// ===

.c-field-row {
    display: flex;

    & + & {
        margin-top: $unit*2;
    }

    .c-field + .c-field {
        margin-left: $unit;
    }
}
